/* globals.css */

/* Importa Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colores de tema */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --color-primary-blue: #0DB3CF;
  --color-secondary-yellow:
  --color-gray-50: 
}
/* Variables de color */
:root {

  --color-primary-blue: #0DB3CF;
  --color-secondary-yellow:#FFA500;
  --color-gray-low: rgb(193, 193, 193);
  --color-white: white;
  --color-black:rgb(36, 36, 36);
  --gradient-primary: linear-gradient(90deg, rgba(56,131,212,1) 2%, rgba(120,211,202,1) 97%);
  --gradient-secondary: linear-gradient(180deg, rgba(251,200,86,1) 2%, rgba(233,147,76,1) 97%)

}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logoYnav{
  display:flex;
  flex-direction: row;
  gap:2rem;
}

.logoContainer {
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  padding:10px;
  border-radius: 15px;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 20px; /* Espacio entre los enlaces */

}

.navLink {
  color:white;
  text-decoration: none;
  font-size: 16px;
  padding:8px;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #FFA500; /* Cambiar color al pasar el mouse */
}

.buttonContainer {
  display: flex;
  align-items: center;
  margin-top:0px !important;
  color:var(--color-white);
  gap:1rem;

}

.demoButton {
  background: var(--gradient-secondary);
  color: var(--color-white);
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  margin-top: 8px;
  cursor: pointer;
}

.loginButton {
  background-color: transparent;
  color:var(--color-white);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Banner */
.banner {
  width: 100%;
  height: auto;
  margin-top:-100px;
  min-height: 100vh;
  background: var(--color-primary-blue);
  background: var(--gradient-primary);
  padding: 0px 8%;
  
}

.bannerContainer {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 28vh;

  
}

.bannerText {
  flex: 0 0 60%;
  font-size: 4rem;
  font-weight: 600;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-right: 12rem;
  line-height: 1.1;
  

  .bannerlist {
    margin-top: 20px;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5;
    color: var(--color-white);
  }

  .bannerTextDisplay {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    font-size: 1.6rem;
  }
  
  .fade-in {
    opacity: 1;
  }
  
  .fade-out {
    opacity: 0;
  }
  
  .buttonContainer {
    margin-top: 30px !important;
  }
  
  .button {
    background-color:var(--color-secondary-yellow);
    color: var(--color-white);
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    margin-right: 10px;
    cursor: pointer;
    font-size:1rem;
    font-weight: normal;
    width: 12vw;
  }
  .button-secondary{
    background-color: var(--color-white);
    color: #054691;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    margin-right: 10px;
    cursor: pointer;
    font-size:1rem;
    font-weight: normal;
    width: 12vw;
  }
}



.bannerVideo {
  flex: 0 0 40%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(255, 255, 255); */
  border-radius: 25px;
  overflow: hidden; 
  

  .downloadsApp{
    width: 100% !important;
    display: flex;
    gap:1rem;
    justify-content:center;margin-top:1rem
   
  }
  button{
    width: 100%;
    min-width: auto !important;
    color:var(--color-white);
  }
  iframe {
    max-width: 100%;
    height: 300px;
    border-radius: 25px;    
  }

}





/*Propuesta de valor*/

.content{
  display:flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  height: 10vh;
  padding: 5rem 8%;

  h2{
    font-size: 3rem;
    font-weight: 500;
    line-height: 3.5rem;
    width: 60%;
    padding-bottom:2vh;
    margin-bottom: 4rem;

  }
  .contentValor{
    display:flex;
    flex-direction: row;
    gap:4rem;

   

    .propuestaValor{
      /* background-color:rgb(251, 251, 251); */
      width: 30%;
      border-radius: 25px;
      

      h3{
        font-size: 1.5rem;
        font-weight: 400;
        padding:0.5rem 0 1rem 0;
        line-height: 1.5rem;
  
      }
      icons{
        color: var(--color-primary-blue);
      }
    }
  }
}

/*Funcionalidades*/
.contenedorFuncionalidad{
background-color: var(--color-gray-low);
padding: 5rem 8%;
h2{
  font-size: 2.5rem;
}


}
/*Testimonios*/
/*Footer*/




.footer{
  background-color: var(--color-primary-blue);
  height: 40vh;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color:var(--color-white);
}
.cont-footer{
  display: flex;
  width: 100%;
  margin: 5%;
  height: auto;
  flex-direction: row;
  h2{
    font-weight: bold;
    margin-bottom: 1rem;
  }




}

  .columnLarge{
    flex: 0 0 25%;
  }
  .columnSmall {
    flex: 0 0 25%;
   

  }
  .logo-footer-container{
   

    align-items: center;
  
  }
  .Logo-footer{

 
    width: 30%;


  }

  button{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    min-width: 240px;
    color:var(--color-white);
    border: solid 1px var(--color-white);
    border-radius: 10px;
    padding: 8px 20px 15px 20px;
    margin: 0px 0px 10px 0px;
    min-width: 230px;
    text-align: left;
 

    h3{font-size: 1.5rem;}
    h4{font-size: 0.8rem;}

    .text-button{
      line-height: 1.1rem;
      display: flex;
      flex-direction: column;
    }
  }
    .social{
      display: flex;
      flex-direction: row;
      gap:0.6rem;

    }
    
  .firm{
    background-color: var(--color-black);
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--color-gray-low);
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    gap: 10px;
    img{width: 150px;}
  }

